<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="disabled"/>

    <http pattern="/user/auth" security="none"/>

    <http pattern="/user/**" entry-point-ref="jwtAuthenticationEntryPoint" create-session="stateless">
        <csrf disabled="true"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationTokenFilter"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="jwtAuthenticationProvider"/>
    </authentication-manager>

    <b:bean id="jwtAuthenticationProvider" class="com.cz.security2.JwtAuthenticationProvider"/>

    <b:bean id="jwtAuthenticationEntryPoint" class="com.cz.security.security.JwtAuthenticationEntryPoint"></b:bean>
    
    <b:bean id="jwtAuthenticationTokenFilter" class="com.cz.security.security.JwtAuthenticationTokenFilter">
    </b:bean>

    <b:bean class="com.cz.security.security.service.JwtUserDetailsServiceImpl"/>
    <b:bean class="com.cz.security.security.JwtTokenUtil"/>
    <b:bean class="com.cz.security.utils.TimeProvider"/>
</b:beans>