<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.mapper.CategoryMapper">

    <resultMap id="category" type="com.cz.model.Category">
        <id column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="parent_category_id" property="parentCategoryId"/>
    </resultMap>

    <sql id="base_select_from_category" >
        SELECT
           category_id,
           category_name,
           parent_category_id
       FROM
           sys_category
       WHERE  !ISNULL(CATEGORY_NAME)
    </sql>

    <select id="listCategories" resultMap="category">
     <include refid="base_select_from_category"></include> ORDER BY category_id
    </select>

    <select id="listCategoriesDesc" resultMap="category">
        <include refid="base_select_from_category"></include> ORDER BY category_id DESC
    </select>

    <select id="listParentCategories" resultMap="category">
        <include refid="base_select_from_category"></include> AND parent_category_id = 0
    </select>

    <select id="listChildCategories" resultMap="category">
        <include refid="base_select_from_category"></include> AND parent_category_id = #{parentCategoryId}
    </select>


    <insert id="insertCategory"
            parameterType="com.cz.model.Category"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO
          sys_category (category_name,parent_category_id)
        VALUES
          (#{categoryName},#{parentCategoryId})
    </insert>

</mapper>