<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.mapper.CategoryMapper">

    <resultMap id="category" type="com.cz.model.category.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <sql id="base_select_from_category" >
        SELECT
           id,
           name,
           parent_id
       FROM
           sys_category
       WHERE  !ISNULL(NAME)
    </sql>

    <select id="listCategories" resultMap="category">
     <include refid="base_select_from_category"></include> ORDER BY id
    </select>

    <select id="listCategoriesDesc" resultMap="category">
        <include refid="base_select_from_category"></include> ORDER BY id DESC
    </select>

    <select id="listParentCategories" resultMap="category">
        <include refid="base_select_from_category"></include> AND parent_id = 0
    </select>

    <select id="listChildCategories" resultMap="category">
        <include refid="base_select_from_category"></include> AND parent_id = #{parentId}
    </select>


    <insert id="insertCategory"
            parameterType="com.cz.model.category.Category"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO
          sys_category (name,parent_id)
        VALUES
          (#{name},#{parentId})
    </insert>

</mapper>