<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.mapper.ParamMapper">

    <resultMap id="param" type="com.cz.model.param.Param">
        <id property="id" column="id"></id>
        <result property="paramName" column="param_name"></result>
        <result property="paramDescribe" column="param_describe"></result>
        <collection property="paramDetails" ofType="com.cz.model.param.ParamDetail" javaType="ArrayList">
            <result property="paramValue" column="param_value"></result>
            <result property="inventory" column="inventory"></result>
        </collection>
       <!-- <collection property="paramValues" ofType="com.cz.model.param.ParamValue" javaType="ArrayList">
            <id property="id" column="param_value_id"></id>
            <result property="paramId" column="param_id"></result>
            <result property="paramValue" column="param_value"></result>
        </collection>-->
    </resultMap>

    <select id="listParams" resultMap="param">
       SELECT
            param.id,
            param.param_name,
            param.param_describe,
            param_values.param_value
        FROM
            sys_param param
        LEFT JOIN
            sys_param_value param_values
        ON  param.id = param_values.param_id
    </select>

    <select id="listParamsById" resultMap="param">
        SELECT
          param.id,
          param.param_name,
          param.param_describe,
          item_param.param_value,
          item_param.inventory
        FROM
          sys_item_param item_param
        LEFT JOIN
          sys_param param
        ON item_param.param_id = param.id
        WHERE item_param.item_id = #{itemId}
    </select>

    <insert id="insertParams">
        INSERT INTO
        sys_item_param(ITEM_ID,PARAM_ID,PARAM_VALUE,INVENTORY)
        VALUES
        <foreach item="paramDetail" collection="paramDetails" separator=",">
            (#{itemId}, #{paramId},#{paramDetail.paramValue},#{paramDetail.inventory})
        </foreach>
    </insert>

    <update id="deleteParamsById">
      DELETE FROM
        sys_item_param
      WHERE
        item_id = #{itemId}
    </update>
</mapper>